{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    {% if post.authors %}
      <p style="font-size: smaller">{{ post.authors }}</p>
    {% endif %}

    {% if post.venue %}
      <div><em>{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}</div>
    {% endif %}

<!--     {% if post.paperurl %}
      <div><a href="{{ post.paperurl }}" target="_blank">Download Paper</a></div> -->
    {% endif %}
  </article>
</div>
